header{
  background-color: #2c3e50;
  color:#fff;
}
.main{
  background: #f2f2f2:
}
.color1{
  background:  #34494e;
  color#fff;
}
aside{
  background: #c0392b;
  color: #fff;
}
img{
  
}
footer{
  background-color: #2c3e50;
  color:#fff;
}
